@import '~/styles/utils/custom-media';

.header {
  display: grid;
  grid-template-columns: 1fr minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
  align-items: center;

  @media (--breakpoint-not-small) {
    padding-right: 38px;
  }

  button {
    color: var(--color-icon)
  }
}

.firstButton {
  margin-left: 10px;
}

.group {
  padding: 10px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px;
  }
}
